<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Home</title>
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/business-casual.min.css" rel="stylesheet">
    <script>
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1);
        };
    </script>
</head>

  <body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">Book 4 book</span>
    </h1>


    
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <hr>
                <h3>Admin Home</h3>
                <hr>
               
                <%if(res_2.length==0){%>
                    <h3>No pending items</h3>
                <%}%>
                <%for(var i=0;i<res_2.length;i++){%>
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">

                        <b><%=res_2[i].title%></b><br>
                        <%=res_2[i].desc%><br><br>
                        
                        <div class="row">
                            <div class="col-sm-2">
                                <form>
                                        <input type='button' class="btn-primary" value='remove'onclick="window.location.href='/check/remove/<%=res_2[i]._id%>'" />
                                </form>
                                   
                            </div>
                            <div class="col-sm-8"></div>
                            <div class="col-sm-2">
                                <form>
                                        <input type='button' class="btn-primary" value='approve'onclick="window.location.href='/check/approve/<%=res_2[i]._id%>'" />
                                </form>
                            </div>
                        </div>

                       
                       
                       
                    </div> <br>
                <%}%>
                <div class="row">
                    <div class="col-sm-8"></div>
                    <div class="col-sm-2">
                        <form action="/">
                            <input type='button'value='Log Out'onclick="window.location.href='/'" />
                        </form>
                    </div>
                </div>
               
                 

            
            
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; Your Website 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
